* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1 {
    font-size: 2rem;
    margin: 1em;
}
.container {
    width: 500px;
    max-width: 90%;
}

.main {
    height: auto;  
    margin: 2em auto;
}


.vocabulary {
    background-color: wheat;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 4rem;
}

.greek-vocabulary {
    margin: 1rem auto;
}
.english-vocabulary {
    display: none;
    font-size: 2rem;
    margin: .5em;
}

.show {
    display: block;
}

.btn {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;

    margin: .5rem;
    padding: 1em;
   
    
}
.show-answer {
    display: block;
    background-color: white;
    border: none;
    margin-top: 2em;
}

.hide {
    display: none;
}

.wrong-answer {
    background-color: red;
    color: white;
}
.correct-answer {
    background-color: green;
    color: white;
}

.retake {
    display: none;
}

.show {
    display: block;
}
/*Lessons*/
.lessons {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin-top: 1em;
}

.lesson {
    display: block;
    font-size: 1.5em;
}
/*footer*/

footer {
    margin-top: 2rem;
    padding: 2em;
}

@media only screen and (max-width: 600px) {

    .vocabulary {
        font-size: 2rem;
    }
    .english-vocabulary {
        font-size: 1.5rem;
    }
}