* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #00cdac 0%, #8ddad5 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: white;
    text-shadow: 0 0 5px rebeccapurple;
    font-size: 3rem;
    margin: 3em auto 1em;
}

.container {
    width: 500px;
    max-width: 90%;
}

.main-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    padding: .8em 1em;
    margin: 5rem 0;

}

.main {
    display: none;
    height: auto;
    margin: 2em auto 0;
}


.vocabulary {
    position: relative;
    background-color: wheat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 4rem;
}

.shake-effect {
    animation: shake 0.5s;
    /* animation-iteration-count: infinite; */
}
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


.greek-vocabulary {
    margin: 2.5rem auto 1rem;
}

.english-vocabulary {
    visibility: hidden;
    font-size: 2rem;
    margin: .5em;
    height: 120px
}

.words {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
}

.show {
    visibility: visible;
}


.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: .5rem;

    font-family: 'Playfair Display', serif;
}

.main-btn {
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.btn {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.show-answer,
.hide-answer {
    display: block;
    background-color: white;
    border: none;
}

.hide-answer {
    display: none;
    background-color: white;
    border: none;
}

.hide {
    display: none;
}

.wrong-answer {
    background-color: red;
    color: white;
    border-radius: 100%;
}



.correct-answer{
    background-color: green;
    color: white;
    margin: none;
    border-radius: 100%;
}


.reviewWrongAnswers {
    background-color: red;
    color: white;
    text-transform: uppercase;
}
.retake, .reviewWrongAnswers {
    display: none;
    margin: .5em
}

.total-score {
    font-size: 3rem;
    padding: .5em;
    color: white;
}

.reset {
    display: none;
    margin: 0 auto;
}

.show {
    display: block;
}

/*Lessons*/

.lesson-section {
    display: none;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.lessons {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-lesson {
    display: flex;
}

.lessons-list {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin-top: 1em;
}

.lesson {
    display: block;
    cursor: pointer;
    font-size: 1.5em;
    background-color: wheat;
    padding: 1rem;
    margin: .5rem;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8); 
}

.lesson:hover {
    transform: scale(1.1);
    transition: all ease-in-out .3s;
}



.lesson-added {
    background-color: rgb(177, 113, 240);
    color: white;
    border-radius: 5px;
    padding: .3em .5em;
    font-size: .6em;
}

input {
    display: none;
}

.hide {
    display: none;
    pointer-events: none
}


.all-vocabs {
    font-size: .8rem;
}

.all-vocabs a {
    text-decoration: none;
    color: black;
}

.all-vocabsEl {
    margin: 2rem;
}

.vocabulary-list {
    color: black;
    font-size: 1rem;
    
}

.vocabulary-list li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.vocabulary-list span {
    color: white;
    font-size: 1.2rem;

}
.reviewing-section {
    margin: .5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review-time {
    margin: .5em;
}
.toReview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
    margin-top: 1em;
    max-width: 50%;
}

.review-now {
    font-size: 1.5em;
    background-color: aquamarine;
    color: white;
    margin: .5em;
}

.goBack {
    display: none;
    padding: .3rem .5rem;
    margin-top: .5rem;
    align-self: flex-start;
}

/*footer*/

.next-review {
    background-color: green;
    color: white;
    margin: none
}

.next-review {
    display: none;
}

.show-nextReview {
    display: block;
}
h2 {
    text-transform: uppercase;
    opacity: .7;
}

.finished {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    
}

.modal {
    position: relative;
    background-color: white;
    opacity: .8;
    color: green;
    width: 40%;
    height: 15vh;
    border-radius: 10px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


.close {
    position: absolute;
    bottom: -30px;
    right: -30px;
    background-color: white;
    color: black; 
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .5rem;
    border-radius: 100%;
    
}

.close:hover {
    cursor: pointer;
    color: white;
    background-color: green;
}

/* PARADGIMS TABLE */
.paradigms-section {
    display: none;
    margin-top: 2em;
}
.paradigms-table {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 1em auto;
    padding: 0;
}

.details {
    width: 100%;
}
.paradigms-table summary {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

table {
    font-size: 1.2rem;
    margin: auto;
}

tr, td, th {
    padding-right: 1rem;
}

.translation {
    font-style: italic;
}


footer {
    margin-top: 2rem;
    padding: 2em;
}

@media only screen and (max-width: 600px) {

    .vocabulary {
        font-size: 2.5rem;
    }

    .english-vocabulary {
        font-size: 1.5rem;
    }

    .words {
        font-size: .8rem;
    }

    .wrong-answer, .show-answer, .correct-answer, .next-review, .hide-answer {
        font-size: .8rem;
    }
    .main-review {
        margin: 0;
    }
    .main-btn {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }
     table {
        font-size: .9rem;
     }
     .modal {
        font-size: 1.5rem;
        
     }
}

.video-lessons-element {
    display: none;
}
.video-lessons-element h2 {
     font-size: 2rem;
     margin-block: 1rem;
}

.video-lessons {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.video-lessons li {
    line-height: 1.5em;
    list-style-type: none;
}
.video-lessons details {
    text-decoration: none;
    color: white;
}
.show-video-lessons {
    display: block;
}

.video-lessons a {
    text-decoration: none;
}
.video-lessons li {
    opacity: .8;
}

.video-lessons li:hover {
    opacity: 1;
    
}
.back {
    cursor: pointer;
    float: left;
    border-radius: 100px;
    border: none;
    padding: .3rem;
    margin-top: 1rem;
}

summary {
    color: white;
}

.other-resources {
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.6)
}
