* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin: 1em auto 1em;
}

.container {
    width: 500px;
    max-width: 90%;
}

.main-review {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;

    padding: .8em 1em;
}

.main {
    display: none;
    height: auto;
    margin: 2em auto;
}


.vocabulary {
    position: relative;
    background-color: wheat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 4rem;
}

.greek-vocabulary {
    margin: 2.5rem auto 1rem;
}

.english-vocabulary {
    visibility: hidden;
    font-size: 2rem;
    margin: .5em;
    height: 120px
}

.words {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
}

.show {
    visibility: visible;
}


.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: .5rem;

    font-family: 'Playfair Display', serif;
}

.btn {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    padding: 1em;

}

.show-answer,
.hide-answer {
    display: block;
    background-color: white;
    border: none;
}

.hide-answer {
    display: none;
    background-color: white;
    border: none;
}

.hide {
    display: none;
}

.wrong-answer {
    background-color: red;
    color: white;
}

.correct-answer {
    background-color: green;
    color: white;
    margin: none
}

.retake {
    display: none;
}

.reset {
    display: none;
    margin: 0 auto;
}

.show {
    display: block;
}

/*Lessons*/

.lesson-section {
    display: none;
    margin: auto;
}


.lessons {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-lesson {
    display: flex;
}

.lessons-list {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin-top: 1em;
}

.lesson {
    display: block;
    cursor: pointer;
    font-size: 1.5em;
    background-color: wheat;
    padding: 1rem;
    margin: .5rem;
    border-radius: 10px;
}

.lesson:hover {
    transform: scale(1.1);
    transition: all ease-in-out .3s;
}



.lesson-added {
    background-color: rgb(177, 113, 240);
    color: white;
    border-radius: 5px;
    padding: .3em .5em;
    font-size: .6em;
}

input {
    display: none;
}

.hide {
    display: none;
    pointer-events: none
}

.toReview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
    margin-top: 1em;
    max-width: 50%;
}

.review-now {
    font-size: 1.5em;
    background-color: aquamarine;
    color: white;
    margin: .5em;
}

.goBack {
    padding: .3rem .5rem;
    margin-top: .5rem;
    align-self: flex-start;
}
/*footer*/

h2 {
    text-transform: uppercase;
    opacity: .7;
}

footer {
    margin-top: 2rem;
    padding: 2em;
}

@media only screen and (max-width: 600px) {

    .vocabulary {
        font-size: 2.5rem;
    }

    .english-vocabulary {
        font-size: 1.5rem;
    }

    .words {
        font-size: .8rem;
    }
}